
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*#region FONT STYLE*/
@font-face {
    font-family: 'SourceCodePro_Regular';
    src: url('/font/Source_Code_Pro/static/SourceCodePro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceCodePro_Black';
    src: url('/font/Source_Code_Pro/static/SourceCodePro-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceCodePro_SemiBold';
    src: url('/font/Source_Code_Pro/static/SourceCodePro-SemiBold.ttf') format('truetype');  
}
@font-face {
    font-family: 'SourceCodePro_ExtraBold';
    src: url('/font/Source_Code_Pro/static/SourceCodePro-ExtraBold.ttf') format('truetype');
} 
/*#endregion*/

:root {
    --main-bg: #D3D0D0; /* Light mode default */
    --main-text-color: #000000d3;
    --reverse-main-text-color:#ffffffd3;
    --header-bg: #ffffffcc;
    --skills-bg-color: #F5F5F5; 
    --mode-color-border: #505050;
    --mode-color-background: #1d3838da;
    --mode-color-whiteness: #ffffffc9;
    --hover-color-mobile-nav:#0000005d;
    --about-container-color:#ffffffc9;
    /* Global colors */
    --scrollbar-color: #C762F6;
    --purple-color: #C762F6;
    --blue-color: #00FFFF;

    /* Font styles and images */
    --my-digital-photo: url("./images/me.png");
    --default-font-style: 'SourceCodePro_Regular';
    --default-font-style-semibold: 'SourceCodePro_SemiBold';
    --header-a-top-button-font-style: 'Source Code Pro', monospace;
    --default-font-style-extrabold:'SourceCodePro_ExtraBold';
}

body.dark-theme {
    --main-bg: #212225;
    --main-text-color: #ffffffd3;
    --reverse-main-text-color: #000000d3;
    --header-bg: #1b1d21cc;
    --skills-bg-color: #121315;
    --hover-color-mobile-nav:#FFFFFF5d;
    --about-container-color: #1B1D21;
}

/*#region Config Style*/
body {
    background-color: var(--main-bg);
    color: var(--main-text-color);
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 60px;
    width: 100vw;
    background-color: var(--header-bg);
    z-index: 1;
}
footer {
    width: 100vw;
    height: 120px;
    z-index: 1;
}
a {
    text-decoration: none; 
    color: inherit; 
}
button{
    /* Resetting all default styles */
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    cursor: pointer;
    outline: none;
}
/*Custom Scrool Bar*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: var(--main-bg);
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
}
/*#endregion*/

/*#region Desktop Header*/
.logo{
    width: 30%;
    display: flex;
    align-items: center; 
}
.logo img {
    width: 155.7px;
    height: 38.7px;
    padding: 0 5px ;
}
.nav-button-layout{
    width: 40%;
}
.nav-button{
    display: inline-flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-family: var(--header-a-top-button-font-style);
    font-weight: 500;
    font-size: 11pt;
}
.header-content .nav-button a:hover {
    color: var(--blue-color); /* Change text color to blue on hover */
}
.header-content .nav-button a::after {
    content: ''; /* Create pseudo-element for underline */
    position: absolute; /* Position relative to anchor */
    width: 100%; /* Full width of anchor */
    height: 2px; /* Underline height */
    bottom: -1px; /* Position just below text */
    left: 0; /* Start from the left */
    background-color: transparent; /* Initially transparent */
    transition: background-color 0.3s ease; /* Smooth transition for color change */
}
.header-content .nav-button a:hover::after {
    background-color: var(--purple-color); /* Change underline color on hover */ 
}
.header-content{
    width: 100%;
    height: 100%;
}
.horizontal-flex-layout{
    height: 100%;
    display: flex;
}
/*#region Sun and Mood MODE Button*/
.color-mode{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 15px;
}
.mode {
    margin-right: 5px ;
    width: 33px;
    height: 33px;
    position: relative;
}
.mode-container {
    position: relative;
    width: 100%; 
    height: 100%; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
}
.mode-button {
    width: 70%; /* Initial size of the sun circle */
    height: 70%; /* Initial size of the sun circle */
    border: 2px solid var(--mode-color-border); /* Border color */
    border-radius: 50%;
    position: absolute;
    justify-self: center;
    align-self: center;
    transition: width 0.4s, height 0.4s; /* Smooth transition for resizing */
    overflow: hidden;
    background-color: var(--mode-color-whiteness);
}
.mode-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 20%;
    width: 100%; /* Extend beyond the half-moon to ensure full coverage */
    height: 100%;
    border-radius: 50%;
    background: var(--mode-color-background); /* Same color as the background to create the half moon effect */
}
/* Expand Animation for Sun Circle to moon */
.mode-button.clicked {
    width: 40%; /* Expanded size */
    height: 40%; /* Expanded size */
}

/* Sun Rays Rotation */
.sun-ray-rotation {
    position: absolute;
    width: 100%; /* Adjusted for the border and mode container size */
    height: 100%; /* Adjusted for the border and mode container size */
    border-radius: 50%;
    display: flex;
    padding: 15%;
    opacity: 0; /* Initially visible */
    transition: opacity 0.3s; /* Smooth transition for hiding rays */
}

/* Individual Sun Rays */
.sun-ray {
    width: 3px; /* Width of rays */
    height: 2px; /* Height of rays */
    background-color: var(--mode-color-border);
    align-self: center;
}

/* Rotate Sun Ray Elements */
.sun-ray-rotation:nth-child(1) { transform: rotate(0deg); }
.sun-ray-rotation:nth-child(2) { transform: rotate(45deg); }
.sun-ray-rotation:nth-child(3) { transform: rotate(90deg); }
.sun-ray-rotation:nth-child(4) { transform: rotate(135deg); }
.sun-ray-rotation:nth-child(5) { transform: rotate(180deg); }
.sun-ray-rotation:nth-child(6) { transform: rotate(225deg); }
.sun-ray-rotation:nth-child(7) { transform: rotate(270deg); }
.sun-ray-rotation:nth-child(8) { transform: rotate(315deg); }
.sun-ray-rotation:nth-child(9) { transform: rotate(360deg); }

/* Hide Sun Rays on Click */
.mode-button.clicked ~ .sun-ray-rotation {
    opacity: 1; /* Hide sun rays */
}

/*#endregion*/
/*#endregion*/

/*#region Mobile Header*/
.nav{
    width: 50px;
    height: 40px;
    margin-left:10px;
    display: none;

}
    .mobile-nav{
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    
        .nav-box{
            width: 100%;
            height: 100%;
            background-color: var(--main-text-color);
            margin: 3px 0;
        }

/*navigation menu bar */
#mobile-menu {
    /* display: none; */
    background-color: var(--main-bg);
    padding: 5% 0;
    position: fixed;
    top: 60px;
    width: 100%;
    height: 100vh;
    transform: translateY(-120%); /* Start off-screen */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth slide effect */
    z-index: -50;
}
#mobile-menu.show {
    transform: translateY(0); /* Slide into view */
}
.hidden {
    /* display: none; */
    transform: translateY(-120%); /* Start off-screen */
    background-color: var(--main-bg);
}


#mobile-menu ul {
    list-style-type: none;
    padding: 10px;    
}

#mobile-menu ul li {
    padding: 15px 0;
}

#mobile-menu ul li a {
    color: --main-text-color;
    font-family: var(--default-font-style);
    font-size: 20px;
    display: block; 
    text-align: center;
  
}

#mobile-menu ul li:hover {
    background-color: var(--hover-color-mobile-nav);
    color: var(--blue-color);
}
/*#endregion*/

/*#region HOME*/
.home {
    padding: 9%;
    height: 100vh;
    width: 100vw;
    position: relative; /* Ensure children are positioned relative to this container */
    z-index: 0; /* Set a low z-index to place it behind the header */
}

.home .myPhoto {
    position: absolute; /* Position the image absolutely within the .home container */
    top: 0;
    right: 100px;
    bottom: 0;
    left: 0;
    background-image: var(--my-digital-photo);
    background-size: 60% auto; /* Adjust the size as needed */
    background-repeat: no-repeat;
    background-position:bottom right; /* Adjust as needed */
    z-index: -1; /* Ensure it stays behind other content */
}

.introductionContainer {
    flex-direction: column; 
    justify-content: center; 
}
    .hi p{
        font-family: 'SourceCodePro_SemiBold';
        font-size: 30px;
        line-height: 50px;
    }
    .name p{
        font-family: 'SourceCodePro_Black';
        color: var(--blue-color);
        font-size: 60px;
        line-height: 70px;
    }
    .jobPosition p{
        font-family: 'SourceCodePro_Black';
        color: var(--purple-color);
        font-size: 40px;
        line-height: 55px;
    }
    .introQoutes p{
        font-family: 'SourceCodePro_SemiBold';
        margin: 10px 0;
        font: weight 600px;
        font-size: 20px;
        line-height: 30px;
    }
    .hi p{
        font-size: 20px;
        line-height: 50px;
    }
    .name p{
        font-size: 40px;
        line-height: 50px;
    }
    .jobPosition p{
        font-size: 30px;
        line-height: 40px;
    }
    .introQoutes p{
        margin: 10px 0;
        font-size: 18px;
        line-height: 30px;
    }      
/*#endregion*/

/*#region ABOUT*/
.about{
    padding:5% 9% ;
    width: 100vw;
}

.aboutContainer{
    background-color:var(--about-container-color);
    border-radius: 30px;
    padding: 2%;
    width: 100%;
    align-self: center;
    justify-content: center; 
}
.aboutContainer p{
    color: var(--main-text-color);
    font-family: 'SourceCodePro_SemiBold';
    font-size: 15px;
}
/*#endregion ABOUT*/



/*#region Get In Touch BTN*/
.getInTouch {
    background-color: var(--purple-color);
    font-family: var(--default-font-style-semibold);
    padding: 5px 10px ; 
    text-align: center;
    font-size: 15px; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
    color: var(--main-text-color);
}

/* Button hover effect */
.getInTouch:hover {
    background-color: var(--blue-color);
    color: var(--reverse-main-text-color);
    transform: scale(1.05); /* Slightly scale up on hover */
}
/*#endregion Get In Touch BTN*/

/*#region Title with animation*/
.titleSection h6{
    color: var(--blue-color);
    font-family: var(--default-font-style-semibold);
    font-size: 25px;
}
.titleSection p{
    color: var(--purple-color);
    font-family:  var(--default-font-style-semibold);
    font-size: 15px;
}
.line{
    width: 0px;
    height: 6px;
    background-color: var(--purple-color);
    clip-path: polygon(0% 0%, 20% 30%, 100% 0%, 100% 0%, 0% 100%);

}
.animate-line {
    animation: drawLine 2s forwards;
}

@keyframes drawLine {
    from {
        width: 0;
    }
    to {
        width: 280px; /* End with full width */
    }
}
/*#endregion Title with animation*/

/*#region Different Size Media*/
@media (max-width: 900px){
    /*#region Header*/
    .nav{
        display: inherit;
    }
    .nav-button {
        display: none;
    } 
    /*#endregion*/
    
    /*#region HOME*/
    .home .myPhoto{
        right: 0;
        background-size:150%; /* Cover the entire background area */
        background-position: bottom center;
    }
    .introductionContainer{
        margin: 0px 0 0 0;
    }
    /*#endregion HOME*/
}

@media(max-height: 400px){
    /*#region HOME*/
    .home .myPhoto{
        background-size:contain; /* Cover the entire background area */
        background-position: bottom right;
        height: auto;
    }
    /*#endregion HOME*/
}

/*#endregion*/


/*#region SKILLS*/
.skill{
    width: 100vw;
    background-color: var(--skills-bg-color);
    height: auto;
}
.skillPadding{
    padding: 3%;
}

.subTitle{
    display: flex;
}
.subLine{
    clip-path: polygon(
        0% 0%,       /* Top-left corner */
        100% 0%,     /* Top-right corner */
        50% 50%,    /* Mid-right edge */
        50% 50%,     /* Start of diagonal cutout */
        100% 100%,    /* Bottom center */
        0% 100%      /* End of diagonal cutout */
    );
    
    width: 50px;
    height: 40px;
    background-color: var(--purple-color);

}
.subTitle p{
    color: var(--main-text-color);
    font-family:var(--default-font-style-extrabold) ;
    font-size: 20px;
    text-align: center;
    align-content: center;
}


    
    
/*#endregion SKILLS*/


/* 
.skill .container-layout{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 2%;
    }

.skill .container-layout .stack{
    margin: 10px;
    width: 200px;
    height: 180px;
    background-color: #212225;
    border-radius: 30px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
} */

.skill-layout{
    padding: 0 20px;
    margin: 0 2%;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
    .skill .skill-layout .box-container {
        display: grid; /* Use grid layout */
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); /* Responsive columns */
        gap: 25px; /* Space between items */
        margin-top: 10px;
    }

    .skill .skill-layout .box-container .box {
        box-shadow: 0 5px 10px var(--reverse-main-text-color);
        border-radius: 15px;
        background: var(--main-bg);
        text-align: center;
        padding: 30px 20px;
        margin: 10px 0;
    }

    .skill .skill-layout .box-container .box img {
        padding: 5px 0;
        height: 150px;
    }

    .skill .skill-layout .box-container .box h3 {
        color: var(--main-text-color);
        font-size: 22px;
        padding: 10px 0;
        font-family: var(--default-font-style-semibold);
    }

    .skill .skill-layout .box-container .box p {
        display: none;
        font-size: 15px;
        line-height: 1.8;
        font-family: var(--default-font-style);
    }

    .skill .skill-layout .box-container .box:hover {
        box-shadow: 0 10px 10px var(--purple-color);
        transform: scale(1.03);
    }
            






















/*SKILL*/

    
        
        .progImageContainer{
            width: 140px;
            height: 140px; 
        }
        .progImageContainer img{
            padding: 5px 0px;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
        .progName{
            font-family: 'SourceCodePro_ExtraBold';
            font-size: 20px;
            color: var(--purple-color);
        }
    .softwareProficiency{
        display: flex;
        padding: 3%;
        justify-content: space-evenly;
    }
        .softwareColumn{
           padding: 0 2% 2% ;
           width: 50%;
           height: 100%;
        }
        .softwareSubTitle{
            display: flex;
        }
            .subTitleHLine{
                width: 15px;
                height: 25px;
                margin: 0 0 4% 0;
                border-left: var(--purple-color) 3px solid;
            }
            .softwareSubTitle p{
                font-family: 'SourceCodePro_ExtraBold';
                font-size: 17.5px;
                color: white;
                
            }
            .softwareContent{
                display: flex; 
                flex-direction: row; 
        
            }
            .software{
                height: 180px;
                width: 45%;
                margin: 0 0 4% 5%;
                border-left: var(--blue-color) 3px solid;
                display: flex; 
                flex-direction: column; 
                align-items: center; 
                justify-content: center; 
            }      
                .software img{
                    padding: 5px 0px;
                    height: 90%;
                    width: 50%;
                    object-fit: contain;
                }
                .software p{
                    font-family: 'SourceCodePro_ExtraBold';
                    font-size: 15px;
                    color: var(--blue-color);
                }
                .graphicWeb{
                    height: 480px; width: 100%;
                }
        .graphicDesignWebDev{
            margin-left: 25px;
            width: 100% - 25px;
            border-radius: 30px;
            background-color: #212225;
            flex-wrap: spa
        }
        .graphicDesignWebDev .progContainer{
            height: 150px;
            width: 140px;
            text-align: center;
        }
        .graphicDesignWebDev .progImageContainer{
            height: 100px;
            width: 100px;
        }     
/*PROJECT*/
.project{
    height:100vh;
    border: 2px  blue solid;
    overflow-y: auto;
    width: 100vw;
}

/*CONTACT*/
.contact{
    height:100vh;
    border: 2px  green solid;
    overflow-y: auto;
    width: 100vw;
}



/*On Right*/
.onRight{
    display: flex;
    flex-direction: column; /* Align items vertically (line above text) */
    align-items: flex-end; /* Aligns all content to the right */
}
.onRight .line{
    transform: scaleX(-1);
}

/*New Line*/
.newLine{
    width: 100%;
    height: 15px;
}

@media (max-width: 800px)  {
        
            
    /*Home*/
    
     

    /*Skills*/
    .progContainer{
        width: 150px;
        height: 130px;
        border-radius: 20px;
    }
    .progImageContainer{
        width: 90px;
        height: 90px; 
    }
    .progName{
    font-size: 15px;
    }
    
    .softwareColumn{
        width: 100%;
        height: 100%;
     }
    .softwareProficiency{
        flex-direction:column;
    }
    .softwareProficiency .progContainer{
        width: 110px;
    }
    
}


